<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
	<!--header.html  that's here  -->
	<div th:replace="./fragment/main-web-fragment/header.html :: header"></div>

	<div class="container">
		<div class="row">
			<!-- side bar -->
			<div th:replace="./fragment/main-web-fragment/sidebar.html :: sidebar"></div>
			<!-- content -->
			<div layout:fragment="content"></div>
		</div>
	</div>

	<!--footer.html  that's here  -->
	<div th:replace="./fragment/main-web-fragment/footer.html :: footer"></div>

</body>
</html>