<head th:fragment="head">
<!-- Basic -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<!-- Mobile Metas -->
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Site Metas -->
<title>Forest Time - Stylish Magazine Blog Template</title>
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="author" content="">

<!-- Site Icons -->
<link rel="shortcut icon" href="./main-web/images/favicon.ico"
	type="image/x-icon" />
<link rel="apple-touch-icon"
	href="./main-web/images/apple-touch-icon.png">

<!-- Design fonts -->
<link href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700"
	rel="stylesheet">

<!-- Bootstrap core CSS -->
<link th:href="@{../../main-web/css/bootstrap.css}" rel="stylesheet">

<!-- FontAwesome Icons core CSS -->
<link href="../../main-web/css/font-awesome.min.css" rel="stylesheet">

<!-- Custom styles for this template -->
<link href="../../main-web/style.css" rel="stylesheet">

<!-- Responsive styles for this template -->
<link href="../../main-web/css/responsive.css" rel="stylesheet">

<!-- Colors for this template -->
<link href="../../main-web/css/colors.css" rel="stylesheet">


<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<!-- Version Garden CSS for this template -->
<link href="../../main-web/css/version/garden.css" rel="stylesheet">

<style>
#comment-section:hover {
	background-color: #b4bdb1;
}
</style>
</head>