<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/main-layout}"
	xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<meta charset="ISO-8859-1">
</head>
<body>
	<div layout:fragment="content"
		class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
		<div id="main-content" class="container">
			<div class="alert alert-success" role="alert">
				<h4 class="alert-heading">Đăng ký thành viên mới</h4> 
			</div> 
			<!-- FORM -->
			<form th:action="@{/new-user/register}" th:object="${user}" method="POST">
				<div class="form-group">
					<label for="inputName">Username</label> <input type="text"
						th:field="*{username}" class="form-control">
				</div>
				<div class="form-group">
					<label for="inputName">Email</label> <input type="email"
						th:field="*{email}" class="form-control">
				</div>
				<div class="form-group">
					<label for="inputName">Password</label> <input type="password"
						th:field="*{password}" class="form-control">
				</div> 
				<div class="form-group">
					<button type="submit" class="btn btn-info float-left">
						Đăng ký
					</button>
				</div>
			</form>

		</div>
	</div>
</body>
</html>